@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-custom-image {
    background-image: url("https://i.pinimg.com/564x/b1/82/1f/b1821f3a29d4f04f8ab49cce0937863d.jpg");
    background-size: cover;
    background-position: center;
  }
}
